<section id="portfolio" class="portfolio">
    <h3>Contenido Corto (9:16)</h3>
    <div class="carousel vertical">
        <slot name="shorts" />
    </div>

    <h3>Contenido Largo (16:9)</h3>
    <div class="carousel horizontal">
        <slot name="longs" />
    </div>
</section>
