---
const tools = [
    { name: "Premiere Pro",   icon: "/icons/premiere.svg",  color: "#9999FF" },
    { name: "After Effects",  icon: "/icons/aftereffects.svg", color: "#9999FF" },
    { name: "DaVinci Resolve",icon: "/icons/davinci.svg",   color: "#F6BE00" },
    { name: "CapCut",         icon: "/icons/capcut.svg",    color: "#ffffff" },
    { name: "Audacity",       icon: "/icons/audacity.svg",  color: "#0000CC" },
    { name: "Photoshop",      icon: "/icons/photoshop.svg", color: "#31A8FF" },
];
---


<section id="tools" class="tools-section">
     <h3>Herramientas</h3>
    <div class="tools-container">
        {tools.map((tool) => (
            <div class="tool-card" style={`--tool-color: ${tool.color}`}>
                <img src={tool.icon} alt={tool.name} class="tool-icon" />
                <span>{tool.name}</span>
            </div>
        ))}
    </div>
</section>
